@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


@keyframes rotate {
  to {
    --a: 1turn;
  }
}

/* 1 */

@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.hero__inner {
  columns: 2;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hero-section {
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  box-shadow: var(--box-shadow-inset);
  overflow: hidden;
  filter: drop-shadow(var(--box-shadow));
}

.profile-picture {
  width: 100%;
  height: auto;
  object-fit: cover;
  
  /* mix-blend-mode: lighten; */
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0; /* Задаем толщину границы */
  border-radius: inherit; /* Наследуем скругление углов */
  background: conic-gradient(
    from var(--a),
    transparent, transparent, transparent, #ff6900,
    transparent, transparent, transparent, #ff6900, transparent
  );
  animation: rotate 6s linear infinite;

  /* Создаем эффект рамки с прозрачностью внутри */
  -webkit-mask: 
    linear-gradient(var(--color-background) 0 0) content-box, 
    linear-gradient(var(--color-background) 0 0);
  -webkit-mask-composite: xor; /* Вырезаем внутреннюю часть */
  mask-composite: exclude;
  padding: 0.2em; /* Толщина рамки */
  box-sizing: border-box;
}

@keyframes rotate {
  to {
    --a: 1turn;
  }
}